<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pranav.karaoke">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/karaoke_transparent"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/karaoke_transparent"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".phoneVerificationActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".editProfileActivity" />
        <activity android:name=".userProfileActivity" />
        <activity android:name=".createSessionActivity" />
        <activity android:name=".soberModeActivity" />
        <activity android:name=".drunkModeActivity" />
        <activity android:name=".finalActivity" />
        <activity android:name=".themeActivity" />
        <activity android:name=".youtubeSearchActivity" />
        <activity android:name=".youtubePlayerActivity" />
        <activity android:name=".ratingsActivity"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity android:name=".ratingsActivity" />
        <activity android:name=".groupSelectionActivity"></activity>
    </application>

</manifest>